---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";

const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>My Awesome Blog's Subtitle</h2>
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari", "As-Salam-u-Alaikum"]} />
</BaseLayout>